@media screen and (max-width: 991px) {
  .navbar-nav li a {
    padding: 15px 20px;
  }
  .btn.btn-primary-custom {
    margin: 5px 10px;
  }
}

.navbar {
  background-color: var(--transparent-primary-color);
}

.nav-link,
.navbar-nav .nav-link.active,
.navbar-toggler {
  color: aliceblue;
}

/* Ovdje prepisujemo sam SVG za tri crte (white) */
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
