@media screen and (max-width: 991px) {
  .navbar-nav li a {
    padding: 15px 20px;
  }
  .btn.btn-primary-custom {
    margin: 5px 10px;
  }
}

.navbar {
  background-color: var(--transparent-primary-color);
}

.nav-link,
.navbar-nav .nav-link.active {
  color: aliceblue;
}
